.commonBox {
	MARGIN: 0px auto; WIDTH: 980px
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.hotConLeftop H2 SPAN {
	TEXT-INDENT: -200px; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
A.axx SPAN {
	TEXT-INDENT: -200px; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
A.bxx SPAN {
	TEXT-INDENT: -200px; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.textScroll {
	BACKGROUND: url(http://i1.vanclimg.com/index/20120307/spritesbgcon.png) no-repeat
}
#textScrollCon1 A {
	BACKGROUND: url(http://i1.vanclimg.com/index/20120307/spritesbgcon.png) no-repeat
}
#textScrollCon2 A {
	BACKGROUND: url(http://i1.vanclimg.com/index/20120307/spritesbgcon.png) no-repeat
}
.hotConLeftop H2 {
	BACKGROUND: url(http://i1.vanclimg.com/index/20120307/spritesbgcon.png) no-repeat
}
.hotConLeftop UL LI {
	BACKGROUND: url(http://i1.vanclimg.com/index/20120307/spritesbgcon.png) no-repeat
}
.selTabMenu LI.hover {
	BACKGROUND: url(http://i1.vanclimg.com/index/20120307/spritesbgcon.png) no-repeat
}
.dynamicNew LI {
	BACKGROUND: url(http://i1.vanclimg.com/index/20120307/spritesbgcon.png) no-repeat
}
.praiseExp A I {
	BACKGROUND: url(http://i1.vanclimg.com/index/20120307/spritesbgcon.png) no-repeat
}
.productAreaHead H2 {
	BACKGROUND: url(http://i1.vanclimg.com/index/20120307/spritesbgcon.png) no-repeat
}
.masterAreaHead H2 {
	BACKGROUND: url(http://i1.vanclimg.com/index/20120307/spritesbgcon.png) no-repeat
}
.myVanclRight LI {
	BACKGROUND: url(http://i1.vanclimg.com/index/20120307/spritesbgcon.png) no-repeat
}
.adTopArea {
	WIDTH: 980px; OVERFLOW: hidden
}
.focusTop {
	WIDTH: 100%
}
.focusScrollLeft {
	WIDTH: 710px; FLOAT: left
}
.focusImgArea {
	WIDTH: 710px; HEIGHT: 340px
}
#play {
	OVERFLOW: hidden
}
#play_text {
	MARGIN-TOP: -10px; WIDTH: 200px; FLOAT: left; HEIGHT: 30px; _HEIGHT: 26px
}
#play_text UL {
	Z-INDEX: 3; POSITION: relative; FILTER: Alpha(Opacity=80); LIST-STYLE-TYPE: none; MARGIN-TOP: -27px; WIDTH: 200px; DISPLAY: block; PADDING-TOP: 1px; LEFT: 550px; _padding-top: 0px; opacity: 0.8
}
#play_text UL LI {
	BORDER-BOTTOM: #cecece 1px solid; TEXT-ALIGN: center !important; BORDER-LEFT: #cecece 1px solid; BACKGROUND-COLOR: #fff; TEXT-INDENT: 3px; MARGIN: 2px; WIDTH: 15px; DISPLAY: block; FONT-FAMILY: "Arial"; FLOAT: left; HEIGHT: 15px; COLOR: #7f0019; FONT-SIZE: 9px; BORDER-TOP: #cecece 1px solid; CURSOR: pointer; BORDER-RIGHT: #cecece 1px solid; PADDING-TOP: 3px
}
#play_list A {
	DISPLAY: block; OVERFLOW: hidden
}
#play_list IMG {
	VERTICAL-ALIGN: top !important
}
.textScroll {
	WIDTH: 710px; BACKGROUND-POSITION: -367px 6px; HEIGHT: 40px
}
#textScrollArea {
	LINE-HEIGHT: 30px; WIDTH: 669px; HEIGHT: 30px; MARGIN-LEFT: 39px; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 10px
}
#textScroll {
	WIDTH: 800%; DISPLAY: inline; FLOAT: left
}
#textScrollCon1 {
	FLOAT: left
}
#textScrollCon2 {
	FLOAT: left
}
#textScrollCon1 A {
	PADDING-LEFT: 24px; BACKGROUND-POSITION: -369px -45px; COLOR: #000; MARGIN-LEFT: 16px
}
#textScrollCon2 A {
	PADDING-LEFT: 24px; BACKGROUND-POSITION: -369px -45px; COLOR: #000; MARGIN-LEFT: 16px
}
#textScrollCon1 A:hover {
	COLOR: #a10000
}
#textScrollCon2 A:hover {
	COLOR: #a10000
}
.newsAreaRight {
	WIDTH: 260px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px
}
.selTabRight {
	WIDTH: 260px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px
}
.newsAd01 {
	BORDER-BOTTOM: #cdcece 1px solid; BORDER-LEFT: #cdcece 1px solid; WIDTH: 258px; BORDER-TOP: #cdcece 1px solid; BORDER-RIGHT: #cdcece 1px solid
}
.newsAd02 {
	BORDER-BOTTOM: #cdcece 1px solid; BORDER-LEFT: #cdcece 1px solid; WIDTH: 258px; BORDER-TOP: #cdcece 1px solid; BORDER-RIGHT: #cdcece 1px solid
}
.newsAd01 {
	HEIGHT: 228px
}
.newsAd02 {
	MARGIN-TOP: 10px; HEIGHT: 138px
}
.hotCon {
	
}
.hotConLeft {
	WIDTH: 710px; FLOAT: left
}
.hotConLeftop {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
.hotConLeftop H2 {
	WIDTH: 144px; BACKGROUND-POSITION: 0px -91px
}
.hotConLeftop UL {
	FLOAT: right
}
.hotConLeftop UL LI {
	PADDING-LEFT: 11px; BACKGROUND-POSITION: 0px -137px; FLOAT: left; MARGIN-LEFT: 15px
}
.indexHot {
	POSITION: relative
}
.indexHot SPAN {
	POSITION: absolute; WIDTH: 21px; DISPLAY: block; BACKGROUND: url(../images/spritesbgcon.png) no-repeat right -81px; HEIGHT: 11px; RIGHT: -21px; TOP: -3px
}
.hotKindsbox {
	BORDER-BOTTOM: #c9caca 1px solid; BORDER-LEFT: #c9caca 1px; MARGIN-TOP: 1px; WIDTH: 709px; HEIGHT: 308px; OVERFLOW: hidden; BORDER-TOP: #c9caca 1px solid; BORDER-RIGHT: #c9caca 1px solid
}
.hotKindsbox UL {
	MARGIN: 0px 0px 0px 1px
}
.hotKindsbox UL LI {
	WIDTH: 355px; DISPLAY: inline; FLOAT: left; HEIGHT: 77px; MARGIN-LEFT: -1px; OVERFLOW: hidden
}
.hotKindsbox .hotKindsName {
	TEXT-ALIGN: center; LINE-HEIGHT: 77px; WIDTH: 69px; DISPLAY: inline; BACKGROUND: url(../images/spritesbgcon.png) no-repeat -200px 0px; FLOAT: left; HEIGHT: 77px; COLOR: #333; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.hotKindsbox .hotKindsBg .hotKindsName {
	TEXT-ALIGN: center; LINE-HEIGHT: 77px; WIDTH: 69px; DISPLAY: inline; BACKGROUND: url(../images/spritesbgcon.png) no-repeat -200px 0px; FLOAT: left; HEIGHT: 77px; COLOR: #333; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.hotKindsbox .hotKindsBg .hotKindsName {
	BACKGROUND-POSITION: -200px -77px
}
.hotKindsbox .hotKindsCon {
	BORDER-BOTTOM: #c9caca 1px solid; WIDTH: 286px; DISPLAY: inline; FLOAT: left; HEIGHT: 76px; OVERFLOW: hidden
}
.hotKindsbox .hotKindsCon LI {
	MARGIN: 0px; DISPLAY: inline; WHITE-SPACE: nowrap; FLOAT: left
}
.hotKindsbox .hotKindsCon P {
	LINE-HEIGHT: 24px; MARGIN: 0px 0px 2px 4px; DISPLAY: inline; WHITE-SPACE: nowrap; FLOAT: left; COLOR: #999; FONT-SIZE: 13px
}
.hotKindsbox .hotKindsCon P A {
	MARGIN-RIGHT: 5px
}
.hotKindsbox .hotKindsCon P A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.hotKindsbox .hotKindsCon P A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.hotKindsbox .hotKindsCon P A:hover {
	COLOR: #a10000; TEXT-DECORATION: none
}
.hotKindsbox .hotKindsCon P A.redBz {
	COLOR: #a10000
}
.hotKindsbox .hotKindsCon P A.redBz:link {
	COLOR: #a10000; TEXT-DECORATION: none
}
.hotKindsbox .hotKindsCon P A.redBz:visited {
	COLOR: #a10000; TEXT-DECORATION: none
}
.dynamicNew LI .redBz:link {
	COLOR: #a10000; TEXT-DECORATION: none
}
.dynamicNew LI .redBz:visited {
	COLOR: #a10000; TEXT-DECORATION: none
}
.hotKindsbox .hotKindsCon P A.redBz:hover {
	COLOR: #a10000; TEXT-DECORATION: none
}
.dynamicNew LI .redBz:hover {
	COLOR: #a10000; TEXT-DECORATION: none
}
.hotKindsbox .hotKindsBg .hotKindsName A {
	WIDTH: 72px; DISPLAY: block; HEIGHT: 76px; COLOR: #fff
}
.hotKindsbox .hotKindsName A:hover {
	COLOR: #fff
}
.selTabRight {
	
}
.selTabBox {
	WIDTH: 260px
}
.selTabMenu {
	BORDER-BOTTOM: #cccdcd 1px solid; POSITION: relative; WIDTH: 100%; HEIGHT: 24px
}
.selTabMenu UL {
	POSITION: absolute; TOP: 0px; LEFT: 0px
}
.selTabMenu LI {
	BORDER-BOTTOM: #cccdcd 0px solid; TEXT-ALIGN: center; BORDER-LEFT: #cccdcd 1px solid; LINE-HEIGHT: 23px; WIDTH: 128px; DISPLAY: inline; FLOAT: left; BORDER-TOP: #cccdcd 1px solid; BORDER-RIGHT: #cccdcd 1px solid
}
.selTabMenu LI.hover {
	BACKGROUND-POSITION: 0px -176px; HEIGHT: 24px; COLOR: #a10000; CURSOR: pointer; FONT-WEIGHT: bold
}
#one2 {
	WIDTH: 129px; BORDER-LEFT-WIDTH: 0px
}
.selTabCon {
	BORDER-BOTTOM: #cccdcd 1px solid; BORDER-LEFT: #cccdcd 1px solid; WIDTH: 258px; HEIGHT: 140px; BORDER-TOP: #cccdcd 0px solid; BORDER-RIGHT: #cccdcd 1px solid
}
.dynamicNew {
	PADDING-TOP: 15px
}
.dynamicNew LI {
	LINE-HEIGHT: 22px; TEXT-INDENT: 33px; WHITE-SPACE: nowrap; BACKGROUND-POSITION: 20px -208px
}
#con_one_2 LI {
	TEXT-INDENT: 0px; PADDING-LEFT: 33px; WIDTH: 220px; OVERFLOW: hidden
}
.selTabCon LI SPAN {
	DISPLAY: inline; FLOAT: right; COLOR: #a10000; MARGIN-RIGHT: 10px
}
.dynamicNew LI .redBz {
	COLOR: #a10000
}
.dynamicNew LI.selTabBnone {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.rightBa01 {
	MARGIN-TOP: 10px; WIDTH: 260px; HEIGHT: 120px; OVERFLOW: hidden
}
.rightBa02 {
	MARGIN-TOP: 10px; WIDTH: 125px; HEIGHT: 230px; OVERFLOW: hidden
}
.praiseCon {
	
}
.praiseLeft {
	FLOAT: left
}
.selTabArea02 {
	WIDTH: 710px; HEIGHT: 270px; OVERFLOW: hidden
}
.praiseExp {
	POSITION: relative; FLOAT: right; RIGHT: 122px; TOP: 14px
}
.praiseExp A SPAN {
	TEXT-DECORATION: underline
}
.praiseExp A:link {
	COLOR: #a10000
}
.praiseExp A:visited {
	COLOR: #a10000
}
.praiseExp A:hover {
	COLOR: #a10000
}
.praiseExp A I.goLogin {
	WIDTH: 13px; DISPLAY: inline-block; BACKGROUND-POSITION: 0px -251px; HEIGHT: 13px; MARGIN-LEFT: 4px; VERTICAL-ALIGN: top
}
.praiseExp A:visited I.goLogin {
	BACKGROUND-POSITION: 0px -251px
}
.praiseExp A:hover I.goLogin {
	BACKGROUND-POSITION: -16px -251px
}
.selTabMenu02 {
	POSITION: relative; WIDTH: 360px; HEIGHT: 30px
}
.selTabMenu02hover {
	POSITION: relative; WIDTH: 360px; HEIGHT: 30px
}
.selTabMenu02 UL {
	POSITION: absolute; TOP: 0px; LEFT: 0px
}
.selTabMenu02hover UL {
	POSITION: absolute; TOP: 0px; LEFT: 0px
}
.selTabMenu02 LI {
	BORDER-BOTTOM: #c9caca 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c9caca 1px solid; LINE-HEIGHT: 29px; WIDTH: 168px; DISPLAY: inline; BACKGROUND: #efeff0; FLOAT: left; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: #c9caca 1px solid; FONT-WEIGHT: bold; MARGIN-RIGHT: 10px; BORDER-RIGHT: #c9caca 1px solid
}
.selTabMenu02hover LI {
	BORDER-BOTTOM: #c9caca 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c9caca 1px solid; LINE-HEIGHT: 29px; WIDTH: 168px; DISPLAY: inline; BACKGROUND: #efeff0; FLOAT: left; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: #c9caca 1px solid; FONT-WEIGHT: bold; MARGIN-RIGHT: 10px; BORDER-RIGHT: #c9caca 1px solid
}
.selTabMenu02 LI.hover {
	BORDER-BOTTOM-STYLE: none; BACKGROUND: #fff; HEIGHT: 30px; COLOR: #a10000; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: bold
}
.selTabMenu02hover LI.hover {
	BORDER-BOTTOM-STYLE: none; BACKGROUND: #fff; HEIGHT: 30px; COLOR: #a10000; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: bold
}
.selTabMenu02hover {
	WIDTH: 710px
}
#two4 {
	MARGIN-RIGHT: 0px
}
.banner04 IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.banner05 IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.banner04 {
	DISPLAY: inline; FLOAT: left
}
.banner05 {
	DISPLAY: inline; FLOAT: right
}
.selTabCon02 {
	BORDER-BOTTOM: #c9caca 1px solid; BORDER-LEFT: #c9caca 1px solid; WIDTH: 708px; HEIGHT: 238px; OVERFLOW: hidden; BORDER-TOP: #c9caca 1px solid; BORDER-RIGHT: #c9caca 1px solid
}
.selTabCon02 UL {
	OVERFLOW: hidden
}
.selTabPro LI {
	LINE-HEIGHT: 16px; MARGIN-TOP: 10px; WIDTH: 151px; DISPLAY: inline; FLOAT: left; HEIGHT: 225px; MARGIN-LEFT: 20px
}
.selTabPro LI H4 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 20px; DISPLAY: block; HEIGHT: 32px; OVERFLOW: hidden; PADDING-TOP: 6px
}
.productPrice {
	TEXT-ALIGN: left; PADDING-LEFT: 2px
}
.sellPrice {
	TEXT-ALIGN: left; PADDING-LEFT: 2px
}
.scPrice DEL {
	COLOR: #a10000
}
.trendRight {
	BORDER-BOTTOM: #c9caca 1px solid; POSITION: relative; BORDER-LEFT: #c9caca 1px solid; WIDTH: 258px; DISPLAY: inline; FLOAT: left; HEIGHT: 268px; MARGIN-LEFT: 10px; BORDER-TOP: #c9caca 1px solid; BORDER-RIGHT: #c9caca 1px solid
}
.trendRiTit {
	POSITION: absolute; DISPLAY: block; COLOR: #a10000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TOP: 12px; LEFT: 12px
}
.trendrImg {
	Z-INDEX: 1; POSITION: relative; WIDTH: 240px; DISPLAY: inline; FLOAT: left; HEIGHT: 225px; MARGIN-LEFT: 9px
}
.trendPicshowMain {
	POSITION: relative; WIDTH: 240px; HEIGHT: 225px
}
.trendPicshowMain .imgbig {
	FILTER: progid:dximagetransform.microsoft.wipe(gradientsize=1.0,wipestyle=4,motion=forward); WIDTH: 240px; HEIGHT: 225px
}
.trendPicshowChange {
	TEXT-ALIGN: left; MARGIN: 17px 0px 7px; FLOAT: right
}
.trendPicshowChange IMG {
	WIDTH: 10px; HEIGHT: 10px
}
.trendPicshowChange A {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 4px; FONT-SIZE: 0px
}
A.axx {
	LINE-HEIGHT: 0px; WIDTH: 10px; BACKGROUND: #ededed; HEIGHT: 10px
}
A.bxx {
	LINE-HEIGHT: 0px; WIDTH: 10px; BACKGROUND: #a10000; HEIGHT: 10px
}
A.axx IMG {
	FILTER: alpha(opacity=40); opacity: 0.4; -moz-opacity: 0.4
}
A.axx:hover IMG {
	FILTER: alpha(opacity=100); opacity: 1.0; -moz-opacity: 1.0
}
.productAreaHead {
	BORDER-BOTTOM: #a10000 2px solid; WIDTH: 980px; HEIGHT: 24px; COLOR: #000
}
.productAreaHead A:link {
	COLOR: #333
}
.productAreaHead A:visited {
	COLOR: #333
}
.productAreaHead A:hover {
	COLOR: #a10000
}
.productAreaHead H2 {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; TEXT-INDENT: -11px; WIDTH: 170px; DISPLAY: inline; BACKGROUND-POSITION: 0px -276px; FLOAT: left; HEIGHT: 24px
}
.productAreaHead H2 A {
	TEXT-ALIGN: center; FONT-FAMILY: "Microsoft YaHei"; FONT-SIZE: 14px
}
.productAreaHead H2 A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.productAreaHead H2 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.productAreaHead H2 A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.productAreaHead UL {
	DISPLAY: inline; FLOAT: left
}
.productAreaHead UL LI {
	LINE-HEIGHT: 24px; DISPLAY: inline; FLOAT: left
}
.productAreaHead UL LI A {
	MARGIN: 0px 5px
}
.moreProduct {
	LINE-HEIGHT: 24px; DISPLAY: inline; FLOAT: right
}
.moreProduct A:link {
	COLOR: #000
}
.moreProduct A:visited {
	COLOR: #000
}
.moreProduct A:hover {
	COLOR: #a10000
}
.adProduct {
	
}
.adProductArea {
	HEIGHT: 350px; OVERFLOW: hidden
}
.adProductArea01 {
	OVERFLOW: hidden
}
.adProductArea02 {
	OVERFLOW: hidden
}
.adProductArea03 {
	OVERFLOW: hidden
}
.adProductArea04 {
	OVERFLOW: hidden
}
.adProductArea05 {
	OVERFLOW: hidden
}
.adProductArea06 {
	OVERFLOW: hidden
}
.adProductArea07 {
	OVERFLOW: hidden
}
.adProductArea02Box {
	OVERFLOW: hidden
}
.adProductArea06Box {
	OVERFLOW: hidden
}
.adProductArea08 {
	OVERFLOW: hidden
}
.adProductArea09 {
	OVERFLOW: hidden
}
.adProductArea10 {
	OVERFLOW: hidden
}
.adProductArea01 {
	WIDTH: 260px; FLOAT: left; HEIGHT: 350px
}
.adProductArea02Box {
	WIDTH: 350px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px
}
.adProductArea02 {
	WIDTH: 350px; HEIGHT: 170px; OVERFLOW: hidden
}
.adProductArea03 {
	WIDTH: 170px; FLOAT: left; HEIGHT: 170px
}
.adProductArea04 {
	WIDTH: 170px; FLOAT: left; HEIGHT: 170px
}
.adProductArea04 {
	DISPLAY: inline; MARGIN-LEFT: 10px
}
.adProductArea05 {
	WIDTH: 170px; DISPLAY: inline; FLOAT: left; HEIGHT: 350px; MARGIN-LEFT: 10px
}
.adProductArea06Box {
	WIDTH: 170px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px
}
.adProductArea06 {
	WIDTH: 170px; HEIGHT: 170px
}
.adProductArea07 {
	WIDTH: 170px; HEIGHT: 170px
}
.masterArea {
	WIDTH: 485px; FLOAT: left
}
.masterAreaHead {
	BORDER-BOTTOM: #a10000 2px solid; WIDTH: 484px; HEIGHT: 24px; COLOR: #000
}
.masterAreaHead H2 {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; TEXT-INDENT: -8px; WIDTH: 143px; DISPLAY: inline; BACKGROUND-POSITION: 0px -313px; FLOAT: left; HEIGHT: 24px
}
.masterAreaHead H2 A {
	TEXT-ALIGN: center; FONT-FAMILY: "Microsoft YaHei"; FONT-SIZE: 14px
}
.masterAreaHead H2 A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.masterAreaHead H2 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.masterAreaHead H2 A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.adProductArea08 {
	WIDTH: 215px; FLOAT: left; HEIGHT: 210px
}
.adProductArea09 {
	WIDTH: 125px; DISPLAY: inline; FLOAT: left; HEIGHT: 210px; MARGIN-LEFT: 10px
}
.myVancl {
	WIDTH: 485px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px
}
.adProductArea10 {
	WIDTH: 260px; FLOAT: left; HEIGHT: 210px
}
.myVanclRight {
	BORDER-BOTTOM: #cacbcb 1px solid; BORDER-LEFT: #cacbcb 1px solid; WIDTH: 213px; DISPLAY: inline; FLOAT: left; HEIGHT: 202px; MARGIN-LEFT: 10px; BORDER-TOP: #cacbcb 1px solid; BORDER-RIGHT: #cacbcb 1px solid; PADDING-TOP: 6px
}
.myVanclRight LI {
	LINE-HEIGHT: 28px; PADDING-LEFT: 10px; WIDTH: 184px; WHITE-SPACE: nowrap; BACKGROUND-POSITION: 0px -342px; HEIGHT: 28px; MARGIN-LEFT: 15px
}
#doublelink A {
	WIDTH: auto; DISPLAY: inline-block; HEIGHT: 76px
}
.floatad-windowBox {
	BACKGROUND: url(http://i.vanclimg.com/index/vjia/popUpvjia_bg_20120522.png) no-repeat
}
.floatad-close {
	BACKGROUND: url(http://i.vanclimg.com/index/vjia/popUpvjia_bg_20120522.png) no-repeat
}
.p0 {
	BACKGROUND: url(http://i.vanclimg.com/index/vjia/popUpvjia_bg_20120522.png) no-repeat
}
.p1 {
	BACKGROUND: url(http://i.vanclimg.com/index/vjia/popUpvjia_bg_20120522.png) no-repeat
}
.p2 {
	BACKGROUND: url(http://i.vanclimg.com/index/vjia/popUpvjia_bg_20120522.png) no-repeat
}
.p3 {
	BACKGROUND: url(http://i.vanclimg.com/index/vjia/popUpvjia_bg_20120522.png) no-repeat
}
.floatad-close {
	BORDER-BOTTOM: #ffffff 1px solid; POSITION: absolute; BORDER-LEFT: #ffffff 1px solid; WIDTH: 10px; DISPLAY: block; BACKGROUND-POSITION: -300px -221px; HEIGHT: 10px; COLOR: #fff; FONT-SIZE: 0px; BORDER-TOP: #ffffff 1px solid; CURSOR: pointer; RIGHT: 5px; BORDER-RIGHT: #ffffff 1px solid; TOP: 5px
}
#floatad-winpop {
	POSITION: absolute; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 310px; BOTTOM: 0px; PADDING-RIGHT: 0px; DISPLAY: none; HEIGHT: 0px; OVERFLOW: hidden; RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.floatad-blank43 {
	WIDTH: 310px; DISPLAY: block; HEIGHT: 50px; CLEAR: both
}
.floatad-blank43 A {
	WIDTH: 85px; DISPLAY: block; FLOAT: left; HEIGHT: 50px
}
.floatad-blank43 SPAN {
	LINE-HEIGHT: 43px; PADDING-LEFT: 15px; DISPLAY: block; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; FLOAT: left; COLOR: #fff; FONT-SIZE: 15px
}
.floatad-blank43 SPAN A:link {
	WIDTH: auto; COLOR: #fff
}
.floatad-blank43 SPAN A:visited {
	WIDTH: auto; COLOR: #fff
}
.floatad-blank43 SPAN A:active {
	WIDTH: auto; COLOR: #fff
}
.floatad-blank43 SPAN A:hover {
	WIDTH: auto; COLOR: #fff
}
.floatad-windowBox {
	HEIGHT: 220px
}
#vjiaPopUp_tab UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
#vjiaPopUp_content UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
#vjiaPopUp_content LI {
	LIST-STYLE-TYPE: none; DISPLAY: none
}
#vjiaPopUp_content {
	MARGIN: auto; WIDTH: 292px; HEIGHT: 150px; OVERFLOW: hidden
}
#vjiaPopUp_content LI {
	DISPLAY: none; PADDING-TOP: 2px
}
#vjiaPopUp_content LI.pt3 {
	PADDING-TOP: 3px
}
#vjiaPopUp_tab {
	MARGIN: auto; WIDTH: 292px; HEIGHT: 18px
}
.p0 {
	BACKGROUND-POSITION: 0px -221px
}
.p1 {
	BACKGROUND-POSITION: 0px -239px
}
.p2 {
	BACKGROUND-POSITION: 0px -257px
}
.p3 {
	BACKGROUND-POSITION: 0px -275px
}
#vjiaPopUp_tab UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 18px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#vjiaPopUp_tab LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 73px; PADDING-RIGHT: 0px; FLOAT: left; CURSOR: pointer; PADDING-TOP: 0px
}
#vjiaPopUp_tab LI SPAN {
	LINE-HEIGHT: 1.6; DISPLAY: inline-block
}
#vjiaPopUp_tab .current {
	COLOR: #fff
}
.vPopUp_img {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 292px; PADDING-RIGHT: 0px; HEIGHT: 119px; PADDING-TOP: 0px
}
.vPopUp_logo {
	PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px; PADDING-LEFT: 0px; WIDTH: 292px; PADDING-RIGHT: 0px; HEIGHT: 25px; PADDING-TOP: 0px
}
.vPopUp_logo IMG {
	WIDTH: 72px; DISPLAY: inline-block; FLOAT: left; HEIGHT: 25px; BORDER-RIGHT: #dfdfdf 1px solid
}
.vPopUp_logo IMG.iLast {
	BORDER-RIGHT-STYLE: none
}
